VITE_TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NGZmN2JhNGEzYmM1NzdiYTIxZTBjYzg5MTlmYmYyMyIsIm5iZiI6MTc3OTY2MDM3MC4zNTksInN1YiI6IjZhMTM3NjUyYzM5ZDY0NzU0YTk5Y2Y0YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.scUd23DDKw-Oj3_1gu3XiGH4WUmJ0L4Hqkh4847eUH8
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key


